body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #82a5ca;

}

.hero {
    height: 600px;
    padding: 20px 0;
    background-image: url(./assets/giphy.webp);
    background-size: cover;
}

h1 {
    text-shadow: 0px 0px 100px black;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: bold;
}


.underline {
    border-bottom: 4px solid white;
}

#logo {
    width: 100px;
}